<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

<!-- Название у нас будет posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все новости</h1>
    <h3>Количество новостей: {{ posts|length }}</h3> <!-- Выводим количество новостей -->
    <hr>
    {% if posts %} <!-- Если есть новости, то выводим таблицу с ними -->
        <table>
            <tr>
                <td>
                    <h5>Заголовок</h5>
                </td>
                <td>
                    <h5>Дата публикации</h5>
                </td>
                <td>
                    <h5>Текст статьи</h5>
                </td>
            </tr>
        {% for post in posts %} <!-- Для каждой новости будет генерироваться новая строка, т.е. новый html код. При этом сам цикл работает точно так же, как и в python. post — переменная цикла, т.е. наша новость, взятая из общего списка -->
            <tr>
                <td>
                    {{ post.header|censor:'*' }}
                </td>
                <td>
                    {{ post.time|date:'d M Y H:i' }}
                </td>
                <td>
                    {{ post.text|censor:'*'|truncatechars:50 }} <!-- дописываем специальный фильтр, чтобы ограничить количество символов до 50, остальные превратятся в многоточие. -->
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}  <!-- Если новостей нет, то говорим что новостей нет ;) -->
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}